/* 7.0.4 */
body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

#time-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
  font-size: 15px;
}

#time-filter label {
  font-weight: 500;
}

#time-slider {
  width: 600px;
}

#selected-time {
  font-style: italic;
  white-space: nowrap;
}