html,body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  position: relative;
  width: 90%; /* Adjust width to your desired size */
  height: 800px; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map .mapboxgl-canvas {
  z-index: 1;
}

#map svg { /*debugger coding*/
  /* background: yellow; */
  opacity: .5;
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle{
  fill: Navy;
  fill-opacity: 1;
  stroke: Gray;
  stroke-width: 1.3;
  pointer-events: auto;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  transition: 0.05s;
}

