html,body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  position: relative;
  width: 90%; /* Adjust width to your desired size */
  height: 800px; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map .mapboxgl-canvas {
  z-index: 1;
}

#map svg { /*debugger coding*/
  /* background: yellow; */
  opacity: .5;
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle,
.legend > div {
  --color-departures: rgb(4, 83, 231);
  --color-arrivals: rgb(212, 152, 1);
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

/* Circles use the fill color */
#map svg circle {
  fill: var(--color);
  fill-opacity: 0.9;
  stroke: gray;
  stroke-width: 1.3;
  pointer-events: auto;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  transition: 0.05s;
}

/* Legend */
.legend { 
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
  width: 90%;
  max-width: 1200px
}

.legend div {
    flex: 1;
    text-align: center;
    padding: 0.5em 0;
    margin: 0 1px;
    border-radius: 4px;
    color: white;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    background-color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}